<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{name}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  <style>
    body {
      padding-top: 50px;
    }

    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
      min-width: 0 !important;
    }
  </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{name}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/reports">&leftarrow; Go back to reports list</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{#each testSuits}}
    <h2>Test suite: {{ name }}</h2>
    <p><span class="glyphicon glyphicon-calendar"></span> Date: <b>{{timestampReadable}}</b></p>
    <p><span class="glyphicon glyphicon-time"></span> Total time spent: <b>{{timeTotalReadable}}</b></p>

    {{#if totalTests}}
      <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          Total: {{totalTests}}
        </div>
      </div>
      <div class="progress">
        {{#if success}}
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{success}}" aria-valuemin="0" aria-valuemax="{{totalTests}}" style="width: {{percents.success}}%;">
            Success: {{success}}
          </div>
        {{/if}}
        {{#if skipped}}
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{skipped}}" aria-valuemin="0" aria-valuemax="{{totalTests}}" style="width: {{percents.skipped}}%;">
              Skipped: {{skipped}}
          </div>
        {{/if}}
        {{#if failures}}
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{failures}}" aria-valuemin="0" aria-valuemax="{{totalTests}}" style="width: {{percents.failures}}%;">
              Failure: {{failures}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#each pockets}}
        <h4>{{name}}</h4>
        <table class="table">
          <tr>
            <th>Name</th>
            <th style="width: 200px;">Time</th>
          </tr>
          {{#each tests}}
            <tr class="{{type}}">
              <td>{{name}}</td>
              <td>{{time}}s.</td>
            </tr>
            {{#if failure}}
                <tr class="{{type}}">
                  <td colspan="2">
                    <pre>{{failure}}</pre>
                  </td>
                </tr>
            {{/if}}
          {{/each}}
        </table>
    {{/each}}
  {{/each}}
</div>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
